%h2 Lightspeed #{params[:machine]}
%p 
  //#{params[:machine]}
  -@users.each do |user|
    //#{user.name}
    //%a(href="/confirm/#{user.name}/#{params[:machine]}")
    //  = user
    %br
    %form{ :action=> "/confirm/#{user.name}/#{params[:machine]}", :method=> "GET"} 
      %input{ :title=> "Jump on the Server", :type=> "submit", :value=> "#{user.name}"}